*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	 font-family: 'Roboto', sans-serif;


}
html,body{
	width: 100%;
	height: 100%;
	background-color: #10101E;
}
nav{
 	width: 100%;
 	height: 10vh;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: #10101E;
 }

 
 .navigation{
 	width: 80%;
 	height:10vh;
 	
 }
 .navigation ul{
 	display: flex;
 	justify-content: left;
 	
 	padding-left: 6%;

 }
 .navigation ul li{
 	list-style: none;
 	width: 25%;
 	height:10vh;
 	margin-right: 10px;
  	display: flex;
 	justify-content: left;
 	align-items: center;
 	


 }
 .navigation a{
 	text-decoration: none;
 	color:grey;
 	font-size: 25px;
 font-family: 'Roboto', sans-serif;
 letter-spacing:1px;
 }
 .navigation a:hover{
 	color: #f1c40f;
 }
 a.link-active{
 	color:#f1c40f;
 }


 .registration{
width: 20%;
height: 10vh;
display: flex; 
justify-content: center;
align-items: center;
}
.registration a{
	text-decoration: none;
 	color:grey;
 	font-size: 25px;
 font-family: 'Roboto', sans-serif;
 letter-spacing:1px;
 margin-right:10px;
}
.registration a:hover{
	color:#f1c40f;
}
.contents{
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: left;
	
	margin-top: 2%;

}
.panel{
	width: 20%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	margin-left:5%;
	margin-right: 5%;
	
}
.panel-item{
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
	cursor: pointer;
}
.panel-item.active{
	border-bottom: 1px solid #F1C40E;
	transition: left .4s;
}
.panel-item p{
	font-size: 25px;
	color:#F1C40E;
}
.panels-info{
	width: 60%;
	display: flex;
	flex-direction: column;
	padding:2%;
	

}
.panel-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	display: none;
	
}
.panel-info.active{
	display: block;
    position: relative;
}
#scroll{
	height:30vh;

	overflow-y: scroll;

	}
.title{
	margin-bottom: 30px;
}
.title p{
	text-align: center;
	font-size: 30px;
	color:white;
	opacity: 0.8;
	font-weight: 600;
	
}
.info{
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	

}



.info-tab{
	width: 100px;
	display: flex;
	justify-content: center;
	margin-right: 1%;
	
	margin-bottom: 5px;

}
.info-tab:nth-child(1){
	width: 50px;
}
.info-tab:nth-child(4){
	width: 300px;
}
.info-tab:nth-child(7){
	width: 200px;
}




#zag p{

	color:#F1C40E;
}

.info-tab p{
	color: white;
	opacity: 0.8;
}

form input{
	
	 margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border:none;
    font-weight: 500;
    font-size: 18px;
    color:black;
    margin-right: 5px;

}
#delete{
	display: flex;
}
#delete input{
	margin-right: 20px;
}
form input:focus{
	 outline: none;
}

.info .add-btn{
	cursor: pointer;
    width: 330px;
   
    font-weight:500;
    font-size:16px;
    border:none;
    color:#fff;
    border-radius: 10px;
    background-color: #FFA500;

}
.none-add{
	display: none;
}
.none-delete{
	display: none;
}
.none-change{
	display: none;
}