@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,100&family=Oswald&family=Playfair+Display:wght@500&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,100&family=Jura:wght@600&family=Oswald&family=Playfair+Display:wght@500&family=Poiret+One&family=Prosto+One&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	 font-family: 'Roboto', sans-serif;


}
html{

	scroll-behavior: smooth;
}
.scroll-hidden {
    overflow: hidden;
}


 nav{
 	width: 100%;
 	height: 10vh;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: #10101E;
 }
 .header-fixed{
 	position: fixed;
 	z-index: 999;
 	 top: 0;
 	background: rgba(16,16,30,1);
	animation-name:show_header;
 	animation-duration: 1s;
 	
 }
 @keyframes show_header{
 	0%{
 		opacity: 0;
 		top:-50px;

 	}
 	100%{
 		opacity: 1;
 		top:0;
 	}
 }

 .navigation{
 	width: 80%;
 	height:10vh;
 	
 }
 .navigation ul{
 	display: flex;
 	justify-content: center;

 }
 .navigation ul li{
 	list-style: none;
 	width: 15%;
 	height:10vh;
 	margin-right: 10px;
  	display: flex;
 	justify-content: center;
 	align-items: center;


 }
 .navigation a{
 	text-decoration: none;
 	color:grey;
 	font-size: 25px;
 font-family: 'Roboto', sans-serif;
 letter-spacing:1px;
 }
 .navigation a:hover{
 	color: #f1c40f;
 }
 a.link-active{
 	color:#f1c40f;
 }


 .registration{
width: 20%;
height: 10vh;
display: flex; 

align-items: center;

}
.registration a{
	text-decoration: none;
 	color:grey;
 	font-size: 25px;
 font-family: 'Roboto', sans-serif;
 letter-spacing:1px;
 margin-right:10px;
}
.registration a:hover{
	color:#f1c40f;
}
.registration img{
	margin-right:20px;
}
 section.banner{
 	width:100%;
 	height: 90vh;
 	background-color: #10101E;
 	color:white;
 	background-image:url('../img/Prosto.png');
 	background-repeat: no-repeat;
 	background-position: right bottom;
 	background-size: 750px 700px;
}
.textBx{
	position: absolute;
	margin-left:15%;
	margin-top: 15%;

}

.droid{
	position: absolute;
	margin-left:70%;
	margin-top: 10%;
}
.droid img{
	width: 600px;
	height: 600px;
}
.banner h2{
	font-size: 4em;
	
	font-weight: 900;
	line-height: 1.5em;
}
.banner h3{
	font-size: 2.5em;
	font-weight: 500;
	
}
.double-border-button {
  text-decoration: none;
  display: inline-block;
margin-top: 29%;
margin-left:25%;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-size: 23px;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 20px);
  height: calc(100% + 30px);
}

.razdelenie{
	width:100%;
 	height: 10vh;
	background-image:url('../img/Razdel.png');
 	background-repeat: no-repeat;
 	background-color: #10101E;
	
}
.assortments{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #10101E;

	
}
.wrapper{
	width: 70%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	
	
}

.assort{
	display: flex;
	justify-content: center;
	opacity: 0;
	transition: .5s;
}
.assort:nth-child(2){
transform: translateY(-45px);
}
.assort:nth-child(3){
transform: translateY(-90px);
}
.assort.element-show{
	opacity: 1;
	transition: opacity 1s;
}

.assort img{
	width: 300px;
	height: 300px;
	margin-right:30px;
	transition: .5s;
}

.assort img:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.assortment{
	margin-right: 10px;
}
#scrollTop img:hover{
	transform:scale(0.8);
	cursor: pointer;
}

#scrollTop img{
	width:100px;
	height: 100px;
	position: fixed;
	bottom:30px;
	left: 50px;
	opacity: 0.9;
	transition: .5s;
	


}
.isShowBtn{
	opacity: 1;
	transition: 1s;
	
}
.isShowBtn--hide{
	opacity: 0;
	
}
#scrollTop:hover{
	cursor: pointer;
}
.zx{
	width: 100%;
	height: 100vh;
	background-color: #10101E;

}
.benefits{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benefit{
width: 13%;
height: 15vh;

color:white;
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.benefit p{
	 font-family: 'Roboto', sans-serif;
	 font-size: 20px;
	 color:#A3A3A3;
}
.benefit img{
	width: 60px;
	height: 60px;
	margin-bottom:20px;
}
.zx{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ben{
	width: 80%;
	height: 60vh;
	display: flex;
	margin-left: -5%;


	
}
.ben-left{
	width: 60%;
	height: 60vh;
	

}
.ben-left img{
	padding-top: 15px;
}
.ben-right{
	width: 40%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	padding-top: 18%;
	
	
}
.ben-right p{
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	color:white;
	margin-bottom:10px;
	color:#A3A3A3;
}
.ben-bottom{
	width: 100%;
	height: 20vh;
	

	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	
}
.ben-bottom img{
	width:250px;
	height: 150px;
	margin-right:20px;
	border-radius: 30px;
	transition: 1s;
}
.ben-bottom img:hover{
transform: scale(0.8);
cursor: pointer;
}
footer{
	width: 100%;
	height:auto;
	margin:0 auto;
	background-color:#10101F;
	display: flex;
	flex-direction: column;
	border-top:1px solid grey;

}
.topmenu{
	height:150px;
	width: 720px;
	display: flex;
	justify-content: center;
	padding-top:30px;
	color:grey;
	font-size: 15px;
	margin-left:600px;
	border-bottom: 0.5px solid grey;
}
.botmenu{
	height:70px;
	display: flex;
	color:white;
	margin-left:600px;
	padding-top: 20px;
	color:grey;

}
.botmenu  ul li{
	margin-right:40px;
	list-style: none;
}
.botmenu ul li :hover{
	color:white;
	cursor: pointer;
}
.topmenu element{
	height:auto;
	width:200px;
	margin-right: 40px;


}
element ul li{
	list-style: none;
	margin-bottom:10px;
}
element ul li:hover{
	color:white;
	cursor: pointer;
}




.pop_up{
	width: 100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	background-color: transparent;
	z-index: 9999;
	transform: translateX(-44.5%) scale(0);
	transition: .4s ease-in-out;
}
.tabs {
    max-width: 600px;
    margin: 10% auto;

}

.tabs__nav {
    display: flex;
    margin-left:20px;
}

.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #f5f5f5;
    border: 0;
    border-right: 1px solid #f5f5f5;
    cursor: pointer;
    border-top-left-radius: 30px;
     border-top-right-radius: 30px;
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ddd;
}

.tabs__nav-btn.active {
    background-color:#FFA500;
    border-right-color: #FFA500;
    color: #fff;
}

.tabs__content {
   padding: 50px 10px;
   border-radius: 20px;
    background-color: #fff;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
    position: relative;
}


.tabs__item  p{
    font-size: 28px;
    font-weight: 600;
    color:#22262D;
    margin-bottom: 10px;
    text-align:center;

}


.tabs__item  input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border:none;
    font-weight: 500;
    font-size: 18px;
    color:black;
}
.tabs__item  input:focus{
    outline: none;
}
.password{
	position: relative;

}
.password-control{
	position: absolute;
	
	display: inline-block;
	width: 30px;
	height: 30px;
	top:10px;
	right: 135px;
	background: url('../img/view.png');
	 background-repeat: no-repeat;

}
.passwordCheck-control{
	position: absolute;
	
	display: inline-block;
	width: 30px;
	height: 30px;
	top:10px;
	right: 135px;
	background: url('../img/view.png');
	 background-repeat: no-repeat;

}
.passwordCheck-control.view {
	background: url('../img/scrt.png');
}
.password-control.view {
	background: url('../img/scrt.png');
}
.tabs__item .button{
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 30px auto 0px auto;
    font-weight:500;
    font-size:16px;
    border:none;
    color:#fff;
    border-radius: 10px;
    background-color: #FFA500;

}
.item_close{
    position: absolute;
    top:-40px;
    right: 20px;
    cursor: pointer;
    font-size:21px;
    
}
.item_close:hover{
    color: #F1C40F;
}

.item.active{
    transform:translateX(0%) scale(100%);
    background-color: rgba(0,0,0,0.8);
    transition-delay: 0.8s;
}
.button input{
    background-color:#FFA500;
    color:white;
}
.button input:hover{
   cursor: pointer;
}


.item input:focus{
color:black;
}







.pop_up.active{
	transform:translateX(0%) scale(100%);
	background-color: rgba(0,0,0,0.8);
	transition-delay: 0.8s;
}

.none{
	display: none;
}
.none-reg{
	display: none;
}

input.tabs__item-error {
	border-bottom: 2px solid red;
}

